#about {
  padding: 50px 0;
  background-color: $primary_bg;
  @include media-breakpoint-up(md) {
    padding: 0px;
  }
  @include media-breakpoint-down(md) {
    padding: 0px;
  }
  .about_top {
    .title {
      h2 {
        font-weight: 700;
        font-size: 48px;
        color: $dark_color;
        line-height: normal;
        text-transform: capitalize;
        @include media-breakpoint-up(lg) {
          font-size: 64px;
        }
        @include media-breakpoint-down(xl) {
          font-size: 53px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 36px;
        }
        span {
          color: $primary_color;
        }
      }
    }
    .info {
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $primary_textcolor;
        margin-bottom: 23px;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 25px;
        }
      }
      .about_top_btn {
        padding: 18px 32px;
        border-radius: 8px;
        background-color: $primary_color;
        color: $white_color;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        display: inline-block;
        @include media-breakpoint-down(sm) {
          padding: 12px 22px;
          font-size: 16px;
        }
      }
    }
  }
  .about_bottom {
    margin-top: 40px;
    column-gap: 110px;
    .skills {
      row-gap: 20px;
      .items {
        padding: 22px;
        background-color: $white_color;
        border-radius: 8px;
        transition: all linear 0.5s;
        cursor: pointer;
        @include media-breakpoint-up(lg) {
          min-height: 220px;
        }
        h3 {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: $dark_color;
          transition: all linear 0.5s;
          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }
        p {
          margin-top: 6px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: $secondary_textcolor;
          transition: all linear 0.5s;
          @include media-breakpoint-down(sm) {
            font-size: 12px;
            line-height: 20px;
          }
        }
        &.active,
        &:hover {
          background-color: $primary_color;
          h3,
          p {
            color: $white_color;
          }
        }
      }
    }
    #skill_content {
      @include media-breakpoint-down(lg) {
        margin-top: 50px;
      }
      h3 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $dark_color;
        padding-right: 80px;
        @include media-breakpoint-up(lg) {
          padding: 0;
        }
        @include media-breakpoint-down(md) {
          font-size: 28px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
      p {
        margin-top: 24px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: $primary_textcolor;
        @include media-breakpoint-down(md) {
          margin-top: 12px;
        }
      }
      button {
        margin-top: 40px;
        padding: 18px 32px;
        background-color: $transparent;
        border: 1px solid $primary_color;
        border-radius: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $primary_color;
        transition: all ease-in-out 0.5s;
        &:hover {
          border: 1px solid $transparent;
          background-color: $primary_color;
          color: $white_color;
          box-shadow: 10px 10px 10px $primary_color;
        }
        @include media-breakpoint-down(md) {
          margin-top: 10px;
          padding: 12px 22px;
          font-size: 16px;
        }
      }
    }
  }
}
